.git
build.sh
makefile
dist/
bower_components/
node_modules/
.idea/
**/*/.DS_Store
src/static/home/dgrid/
src/static/home/dijit/
src/static/home/dojo/
src/static/home/dojo-themes/
src/static/home/dojox/
src/static/home/dstore/
src/static/home/esri/
src/static/home/moment/
src/static/home/util/

*.fla

*.iml

