<div class="item-card jimu-float-leading">
    <a class="thumbnail-part" style="background-image: url(/webappbuilder/builder/images/appthumbnail_2d.jpg?date=1460477146948)" href="stemapp/index.html?id=4" target="_blank" title="Launch">
        <div class="item-type-div item-type-2d"></div>
    </a>
    <div class="appInfo-part">
        <div class="item-name-div" title="Charlotte Airport Signage and Artwork Collection">Charlotte Airport Signage and Artwork Collection</div>
        <div class="item-info-div">
            <div class="app-time-div jimu-float-leading">Apr 8, 2016</div>
            <div class="app-creator-div jimu-float-trailing">rhughes_AroraGIS</div>
        </div>
        <div class="item-des-div " title="Gresham, Smith &amp; Partners - Arora Engineers, Inc. : This application contains point locations and photos for signs and artwork at the Charlotte, NC Airport.  This data was collected between February and April of 2016.">Gresham, Smith &amp; Partners - Arora Engineers, Inc. : This application contains point locations and photos for signs and artwork at the Charlotte, NC Airport. This data was collected between February and April of 2016.
        </div>
    </div>
    <div class="item-operation-part">
        <div class="item-operation launch-operation jimu-float-leading" title="Launch">
            <a href="stemapp/index.html?id=4" target="_blank"></a>
        </div>
        <div class="item-operation download-operation jimu-float-leading" title="Download">
            <a href="/webappbuilder/rest/apps/4/download" target="downloadTargetFrame">
            </a>
        </div>
        <div class="item-operation edit-operation jimu-float-leading " title="Configure App"></div>
        <div class="item-operation more-operation jimu-float-trailing ">
            <div data-dojo-attach-event="onclick:_onMenuClick" class="app-oper-menu white-style" id="dijit__TemplatedMixin_0" widgetid="dijit__TemplatedMixin_0" style="display: none;">
                <div class="up-triangle" data-dojo-attach-point="upTriangle"></div>
                <div class="down-triangle" data-dojo-attach-point="downTriangle"></div>
                <div class="item item-createApp-from-template" data-dojo-attach-point="createAppFromTemplate" data-dojo-attach-event="onclick:_onCreateAppFromTempalteClick" style="display: none;">Create App</div>
                <div class="item item-editAppInfo border-top-radius" data-dojo-attach-point="editAppInfo" data-dojo-attach-event="onclick:_onEditClick">Edit App Info</div>
                <div class="item item-download" data-dojo-attach-point="download" data-dojo-attach-event="onclick:_onDownloadClick" style="display: none;">
                    <a data-dojo-attach-point="downloadLinkNode" style="display:inline-block;width:100%;height:100%;" target="downloadTargetFrame" href="/webappbuilder/rest/apps/4/download">Download</a>
                </div>
                <div class="item item-duplicate" data-dojo-attach-point="duplicate" data-dojo-attach-event="onclick:_onDuplicateClick">Duplicate</div>
                <div class="item item-remove" style="border-bottom-left-radius:5px;border-bottom-right-radius:5px;" data-dojo-attach-point="remove" data-dojo-attach-event="onclick:_onRemoveClick">Delete</div>
                <!--div class="item item-agol-template" style="border-bottom-left-radius:5px;border-bottom-right-radius:5px;" data-dojo-attach-point="agolTemplate" data-dojo-attach-event="onclick:_onAgolTemplateClick">Export as Template</div>
  <div class="item item-qrcode" style="" data-dojo-attach-point="qrcode" data-dojo-attach-event="onclick:_onQRCodeClick">qrcodeeeeeee-nonls</div-->
            </div>
        </div>
    </div>
</div>
